.contact-options {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 4rem;
    padding-bottom: 7rem;
  }
  
  .contact-options > * {
    flex: 1 1 40%;
  }
  
  .contact-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
  }

  .contact-option:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
  }

  .contact-option:active {
    transform: scale(1.2);
  }
  
  .icon-container {
    background-color: var(--clr--dark-200);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon-container i {
    font-size: 2rem;
    color: var(--clr--orang-100);
  }
  
  .contact-option p, .contact-option a {
    color: var(--gray--100);
    text-align: center;
    font-size: calc(0.5rem + 0.6vw);
    font-weight: 600;
    text-decoration: none;
  }

  







@media (min-width: 640px) {
  .contact-options {
    padding-bottom: 10rem;
  }
     .contact-options > * {
        flex: 1 1 18%;
    }
  }
  
  @media (min-width: 805px) {
    .contact-options > * {
        flex: 1 1 20%;
    }
  }